<template name='examples'>
    <div class="large-12 columns">
        <div class="row">
            <div class="large-2 columns">.</div>
            <div class="large-8 columns">
                <ul class="stack-for-small round secondary button-group text-center">
                    <li><a href="#" id="findVideos" class='button'>Find Videos</a></li>
                    <li><a href="#" id="insertVideo" class='button'>Insert Video Data</a></li>
                </ul>
                <ul class="stack-for-small round secondary button-group text-center">
                    <li><a href="#" id="findMetadata" class='button'>Find Metadata</a></li>
                    <li><a href="#" id="insertMetadata" class='button'>Insert Metadata</a></li>
                </ul>
                <ul class="stack-for-small round secondary button-group text-center">
                    <li><a href="#" id="findDict" class='button'>Find Dictionary</a></li>
                    <li><a href="#" id="insertDict" class='button'>Insert to Dictionary</a></li>
                </ul>
            </div>
            <div class="large-2 columns">.</div>
        </div>
    </div>
    <div class="large-12 columns">
        <div class="row">
            <div class="large-1 columns">.</div>
            <div class="large-10 columns">
                <p>{{data}}</p>
            </div>
            <div class="large-1 columns">.</div>
        </div>
    </div>
</template>
