<template name="landingPage">
  <img src="/images/background.jpg" class="bg"/>
  <div class="row">
      <div class="frontpage">
         <div class="large-12 columns">
            <div class="large">
               <h1><a href="http://xlab.upenn.edu"><img src="/images/xlab.gif" /></a></h1>
            </div>
         </div>
      </div>
  </div>
  <div class="row">
      <div class="large-12 columns">
         <div class="tagline">
            <h3>xLab Cloud Infrastructure</h3>
         </div>
      </div>
  </div>
</template>