<template name='screenOptions'>
    <div class="row">
        <div class="large-12 columns">
            <h5>{{moduleName}}</h5>
        </div>
    </div>
    <br><br>
    <div class="row">
        <div class="large-2 columns">.</div>
        <div class="large-8 columns">
            <ul class="stack-for-small round secondary button-group text-center">
                <li><a href="#" id="primary" class='button disabled'>Primary Screen</a></li>
                <li><a href="#" id="secondary" class='button disabled'>Secondary Screen</a></li>
            </ul>
        </div>
        <div class="large-2 columns">.</div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="large-4 columns">.</div>
        <div class="large-4 columns">
            <a href="#" id="reset" class="button round">Reset Config</a>
        </div>
        <div class="large-4 columns">.</div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="large-4 columns">.</div>
        <div class="large-4 columns">
            <a href="#" id="home" class="radius button">Home</a>
        </div>
        <div class="large-4 columns">.</div>
    </div>
</template>
