<template name="singleVideo">
    <div class="sticky fixed">
        <nav class="top-bar" data-topbar role="navigation">
            <ul class="title-area">
                <li class="name">
                    <h1><a href="http://xlab.upenn.edu">xLab</a></h1>
                </li>
                <li class="toggle-topbar menu-icon">
                    <a href="#">
                        <span>Menu</span>
                    </a>
                </li>
            </ul>
            <section class="top-bar-section">
                <ul class="center-right">
                    {{> loginButtons}}
                </ul>
            </section>
        </nav>
    </div>
    <img src="/images/background.jpg" class="bg" />
    <br> {{#if currentUser}}
    <div class="row">
        <div class="large-12 columns">
            <div class="tagline">
                <h3>xLab Cloud Infrastructure</h3>
            </div>
        </div>
    </div>
    <div class="row">
        <!--{{> moduleSelection}}-->
        {{> UI.dynamic template=screenTemplates}}
    </div>
    {{else}} {{> landingPage}} {{/if}}
    <!-- <div id="footer">
        <div class="row">
            <div class="large-12 columns">
                <div class="tagline">
                    <h1>Built by Rishabh Gulati and Ashwin Dewan at xLab, University of Pennsylvania</h1>
                </div>
            </div>
        </div>
    </div> -->
</template>
